.footer {
    background: #FFF;
    padding: 150px 0 84px;
    position: relative;
}
.info {
    display: flex;
    justify-content: space-between;
    padding: 23px 245px 15px;
}
.account_block, .tel_block, .aboutUs_block {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.title {
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
}
.tel, .aboutUs {
    display: flex;
    flex-direction: column;
    font-weight: 300;
}
.aboutUs {
    max-width: 234px;
    width: 100%;
    row-gap: 15px;
}
.small_figure {
    position: absolute;
    left: 70px;
    top: 82px;
}
.big_figure {
    position: absolute;
    right: 116px;
    top: 20px;
}
